In [4]:
from pony.orm import *


db = Database()


class Student(db.Entity):
    id = PrimaryKey(int, auto=True)
    Class = Required('Class')
    name = Required(str, 30, column='name')
    passwd = Optional(str, column='passwd')
    no = Optional(str)
    courses = Set('Course')
    scores = Set('Score')


class Class(db.Entity):
    id = PrimaryKey(int, auto=True)
    students = Set(Student)
    name = Optional(str, 30, column='name')


class Course(db.Entity):
    id = PrimaryKey(int, auto=True)
    name = Optional(str, 30, column='name')
    students = Set(Student)
    teacher = Required('Teacher')


class Teacher(db.Entity):
    id = PrimaryKey(int, auto=True)
    name = Optional(str, 30, column='name')
    passwd = Optional(str, column='passwd')
    no = Optional(str, column='no')
    courses = Set(Course)


class Answer(db.Entity):
    id = PrimaryKey(int, auto=True)
    question_id = Optional(str, column='question_id')
    answer = Optional(str, column='answer')
    score = Required('Score')


class Question(db.Entity):
    id = PrimaryKey(int, auto=True)
    question = Optional(str, 30, column='name')
    exams = Set('Exam')


class Exam(db.Entity):
    id = PrimaryKey(int, auto=True)
    name = Optional(str, 30, column='name')
    scores = Set('Score')
    questions = Set(Question)


class Score(db.Entity):
    id = PrimaryKey(int, auto=True)
    score = Optional(str)
    student = Required(Student)
    answers = Set(Answer)
    exam = Required(Exam)



# db.generate_mapping()

In [5]:
# db.generate_mapping()
db.bind(provider='sqlite', filename='d:\code.sqlite')
db.generate_mapping(create_tables=True)
set_sql_debug(True)

GET NEW CONNECTION
RELEASE CONNECTION
GET CONNECTION FROM THE LOCAL POOL
PRAGMA foreign_keys = false
BEGIN IMMEDIATE TRANSACTION
SELECT "Answer"."id", "Answer"."question_id", "Answer"."answer", "Answer"."score"
FROM "Answer" "Answer"
WHERE 0 = 1

SELECT "Class"."id", "Class"."name"
FROM "Class" "Class"
WHERE 0 = 1

SELECT "Course"."id", "Course"."name", "Course"."teacher"
FROM "Course" "Course"
WHERE 0 = 1

SELECT "Course_Student"."course", "Course_Student"."student"
FROM "Course_Student" "Course_Student"
WHERE 0 = 1

SELECT "Exam"."id", "Exam"."name"
FROM "Exam" "Exam"
WHERE 0 = 1

SELECT "Exam_Question"."exam", "Exam_Question"."question"
FROM "Exam_Question" "Exam_Question"
WHERE 0 = 1

SELECT "Question"."id", "Question"."name"
FROM "Question" "Question"
WHERE 0 = 1

SELECT "Score"."id", "Score"."score", "Score"."student", "Score"."exam"
FROM "Score" "Score"
WHERE 0 = 1

SELECT "Student"."id", "Student"."Class", "Student"."name", "Student"."passwd", "Student"."no"
FROM "Student" "Student"
WHERE 0 = 1

SELECT "Teacher"."id", "Teacher"."name", "Teacher"."passwd", "Teacher"."no"
FROM "Teacher" "Teacher"
WHERE 0 = 1

COMMIT
PRAGMA foreign_keys = true
CLOSE CONNECTION

# 创建数据

In [6]:
t1 = Teacher(name="毛凌志")
t2 = Teacher(name="范薇娜")
t3 = Teacher(name="张鑫")
t4 = Teacher(name="张三")
t5 = Teacher(name="李四")
cls = Class(name="商数181")
course1 = Course(name="数据采集与处理",teacher=t1)
course2 = Course(name="数据可视化高级应用",teacher=t2)
course3 = Course(name="运营数据分析",teacher=t3)
course4 = Course(name="茶文化",teacher=t4)
course5 = Course(name="电商美工",teacher=t5)
s1 = Student(name="lqb",no="20182090104",Class = cls,courses=(course1,course2,course3,course4))
s2 = Student(name="wq",no="20182090146",Class = cls,courses=(course1,course2,course3,course5))
db.commit()

GET NEW CONNECTION
BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Teacher" ("name", "passwd", "no") VALUES (?, ?, ?)
['毛凌志', '', '']

INSERT INTO "Teacher" ("name", "passwd", "no") VALUES (?, ?, ?)
['范薇娜', '', '']

INSERT INTO "Teacher" ("name", "passwd", "no") VALUES (?, ?, ?)
['张鑫', '', '']

INSERT INTO "Teacher" ("name", "passwd", "no") VALUES (?, ?, ?)
['张三', '', '']

INSERT INTO "Teacher" ("name", "passwd", "no") VALUES (?, ?, ?)
['李四', '', '']

INSERT INTO "Class" ("name") VALUES (?)
['商数181']

INSERT INTO "Course" ("name", "teacher") VALUES (?, ?)
['数据采集与处理', 1]

INSERT INTO "Course" ("name", "teacher") VALUES (?, ?)
['数据可视化高级应用', 2]

INSERT INTO "Course" ("name", "teacher") VALUES (?, ?)
['运营数据分析', 3]

INSERT INTO "Course" ("name", "teacher") VALUES (?, ?)
['茶文化', 4]

INSERT INTO "Course" ("name", "teacher") VALUES (?, ?)
['电商美工', 5]

INSERT INTO "Student" ("Class", "name", "passwd", "no") VALUES (?, ?, ?, ?)
[1, 'lqb', '', '20182090104']

INSERT INTO "Student" ("Class", "name", "passwd", "no") VALUES (?, ?, ?, ?)
[1, 'wq', '', '20182090146']

EXECUTEMANY (8)
INSERT INTO "Course_Student" ("course", "student") VALUES (?, ?)
[3, 2]
[2, 2]
[4, 1]
[3, 1]
[2, 1]
[5, 2]
[1, 2]
[1, 1]

COMMIT

# 查询学生集合

In [7]:
s = Student.select(lambda p:p.name=='lqb')
print(s)

<pony.orm.core.Query object at 0x00000229359DCA90>

In [9]:
print(len(s))

BEGIN IMMEDIATE TRANSACTION
SELECT "p"."id", "p"."Class", "p"."name", "p"."passwd", "p"."no"
FROM "Student" "p"
WHERE "p"."name" = 'lqb'

1

In [10]:
print(list(s)[0].no)

20182090104

# 商数181共有多少学生

In [12]:
c = Class.select(lambda c:c.name=='商数181')
print(c,len(c))
for x in c:
    for stu in x.students:
        print(stu.no)
        for course in stu.courses:
            print(course.name)
        print("="*10)
print(type(c))
#以下两种方法均可
print(list(c)[0].students.count())
print(len(list(c)[0].students))

SELECT "c"."id", "c"."name"
FROM "Class" "c"
WHERE "c"."name" = '商数181'

<pony.orm.core.Query object at 0x0000022935A21320> 1
20182090146
电商美工
数据采集与处理
运营数据分析
数据可视化高级应用
==========
20182090104
茶文化
数据采集与处理
运营数据分析
数据可视化高级应用
==========
<class 'pony.orm.core.Query'>
2
2

# 查询特定的单个学生

In [13]:
stu = Student.get(name='20182090104')
if stu != None:
    stu.name="lqb"
    db.commit()

SELECT "id", "Class", "name", "passwd", "no"
FROM "Student"
WHERE "name" = ?
LIMIT 2
['20182090104']

# 查询学生学的课程

In [17]:
i = list(s)[0]
print(i.courses)
for course in i.courses:
    print(course.name)

CourseSet([Course[4], Course[1], Course[3], Course[2]])
茶文化
数据采集与处理
运营数据分析
数据可视化高级应用

In [18]:
for course in i.courses:
    print(course.name,course.teacher.name)#链式表达
    for teacher_course in course.teacher.courses:
        print(teacher_course.name)

茶文化 张三
茶文化
数据采集与处理 毛凌志
数据采集与处理
运营数据分析 张鑫
运营数据分析
数据可视化高级应用 范薇娜
数据可视化高级应用

# 查询老师相关信息

In [23]:
for h in list(i.courses)[0].teacher.courses:
    print(h.name)

茶文化

# 查询相关课程老师的姓名

In [22]:
list(i.courses)[0].teacher.name

'张三'