In [1]:
from pony.orm import *


db = Database()


class Student(db.Entity):
    id = PrimaryKey(int, auto=True)
    Class = Required('Class')
    no = Optional(str, column='no')
    passwd = Optional(str, column='passwd')
    courses = Set('Course')
    name = Optional(str, column='name')


class Class(db.Entity):
    id = PrimaryKey(int, auto=True)
    students = Set(Student)
    name = Optional(str, column='name')


class Course(db.Entity):
    id = PrimaryKey(int, auto=True)
    students = Set(Student)
    name = Optional(str, column='name')








#db.generate_mapping()

In [2]:
db.bind(provider='sqlite',filename='C:/Users/86176/pony1.sqlite')
db.generate_mapping(create_tables=True)
set_sql_debug(True)

In [3]:
cls1 = Class(name="菜鸟集中营")
c1 = Course(name="混子的自我修养")
c2 = Course(name="单杀河蟹教学")
c3 = Course(name="演员入门指南")
c4 = Course(name="被打爆如何点投降")
c5 = Course(name="精神语录300首")
s1 = Student(name="黄忠",no="01",Class = cls1,passwd="123456",courses=(c1,c2,c3,c4))
s2 = Student(name="马超",no="02",Class = cls1,passwd="123456",courses=(c1,c2,c3,c5))
s3 = Student(name="关羽",no="03",Class = cls1,passwd="123456",courses=(c1,c2,c3,c5))
db.commit()

GET NEW CONNECTION
BEGIN IMMEDIATE TRANSACTION
INSERT INTO "Class" ("name") VALUES (?)
['菜鸟集中营']

INSERT INTO "Course" ("name") VALUES (?)
['混子的自我修养']

INSERT INTO "Course" ("name") VALUES (?)
['单杀河蟹教学']

INSERT INTO "Course" ("name") VALUES (?)
['演员入门指南']

INSERT INTO "Course" ("name") VALUES (?)
['被打爆如何点投降']

INSERT INTO "Course" ("name") VALUES (?)
['精神语录300首']

INSERT INTO "Student" ("Class", "no", "passwd", "name") VALUES (?, ?, ?, ?)
[1, '01', '123456', '黄忠']

INSERT INTO "Student" ("Class", "no", "passwd", "name") VALUES (?, ?, ?, ?)
[1, '02', '123456', '马超']

INSERT INTO "Student" ("Class", "no", "passwd", "name") VALUES (?, ?, ?, ?)
[1, '03', '123456', '关羽']

EXECUTEMANY (12)
INSERT INTO "Course_Student" ("course", "student") VALUES (?, ?)
[5, 2]
[1, 2]
[1, 1]
[2, 2]
[2, 1]
[3, 3]
[5, 3]
[3, 1]
[2, 3]
[3, 2]
[1, 3]
[4, 1]

COMMIT

# 菜鸟集中营有多少学生分？

In [4]:
cc = Class.select(lambda c:c.name=='菜鸟集中营')
print(len(list(cc)[0].students))

BEGIN IMMEDIATE TRANSACTION
SELECT "c"."id", "c"."name"
FROM "Class" "c"
WHERE "c"."name" = '菜鸟集中营'

3

# 该班级学生分别学习了什么课程？

In [5]:
for c in cc:
    for stu in c.students:
        print(stu.name)
        for course in stu.courses :
            print(course.name)
        print("="*5)

马超
演员入门指南
混子的自我修养
精神语录300首
单杀河蟹教学
=====
黄忠
演员入门指南
混子的自我修养
被打爆如何点投降
单杀河蟹教学
=====
关羽
演员入门指南
混子的自我修养
精神语录300首
单杀河蟹教学
=====